.container {
  background-color: lightgray;
  width: 100vw;;
  height: 100vh;  
}

.form-label-yellow {
  color: #ffc107;
}

.yellow {
  color: #ffc107;
}

.grey {
  color: #343a40;
}

.grey-bg {
  background-color: lightgray;
}

.dk-grey-bg {
  border-radius: 10px;
  background-color: #343a40;
}

.padding-5 {
  padding: 10px;
}

.vertical-fluid {
  height: 100vh;
}

.margin-top-5{
  margin-top: 5%;
}

.padding-top-10 {
  padding-top: 10%;
}

.padding-top-5 {
  padding-top: 3%;
}

.margin-20px {
  margin: 20px;
}

.margin-5px {
  margin: 5px;
}

.margin-top-10 {
  margin-top: 10%;
}

.margin-side-5 {
  margin-left: 5%;
  margin-right: 5%;
}

.margin-bot-10 {
  margin-bottom: 10%;
}

.margin-bot-5 {
  margin-bottom: 5%;
}

.grey-border {
  border-color: #343a40;
}

.text-right {
  text-align: right;
}

.menu-bar {
    width: 35px;
    height: 5px;
    background-color: lightgray;
    margin: 6px 0;
}

.center {
  text-align: center;
}

#grey-btn:hover > .menu-bar {
  background-color: black;
}

#grey-btn:focus > .menu-bar {
  background-color: black;
}

/* Style The Dropdown Button */
.dropbtn {
  border-radius: 5px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffc107;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  right: 0;
}

#page-title {
  color: #ffc107;
  font-size: 40px;
}

#grey-btn {
  color: lightgray;
  background-color: #343a40;
  margin: 0;
}

#grey-btn:hover {
  color: black;
  background-color: #ffc107;
}

#grey-btn:focus {
  color: black;
  background-color: #ffc107;
}

#back-btn {
  margin: 20px;
}

#edit-btn {
  margin: 20px;
}

#post-input {
  padding: 20px;
}

#login-comp {
  padding-top: 10%;
}

#post-input {
  padding-top: 10%;
}

#jumbotron {
  background-color: white;
  margin-top: 4%;
  height: 40%;
  margin-left: 0;
  margin-right: 0;
}
 
@media (max-width: 600px) {
  small {
    display: none;
  }

  .margin-media-0 {
    margin: 0;
  }
}
